<template>
  <div>
    <app-layout>
      <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
          <h3>
            Please check your achievements and press Submit.
          </h3>
        </h2>
      </template>
      <div class="py-12">
                <UserAchievement/>
            </div>
                <UserAchievementButton/>
    </app-layout>
  </div>
</template>
<script>
import AppLayout from "./../Layouts/AppLayout"
import UserAchievement from '../Jetstream/UserAchievement'
import UserAchievementButton from '../Jetstream/UserAchievementButton'

export default {
  components: {
    AppLayout,
    UserAchievement,
    UserAchievementButton
  },
};
</script>

<style scoped>
.title {
  font-size: 10px;
  text-align: center;
}
</style>
