<template>
<div>
<app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight ">
               cabinet
            </h2>
        </template>
        <div class="py-12">
                <UserCabinet/>
                </div>
    </app-layout>
    <main>
      <slot></slot>
    </main>
    </div>
</template>
<script>
    import AppLayout from './../Layouts/AppLayout'
    import UserCabinet from '../Jetstream/UserCabinet'
    import JetApplicationLogo from "./../Jetstream/ApplicationLogo";
    import JetApplicationMark from "./../Jetstream/ApplicationMark";
    import JetDropdown from "./../Jetstream/Dropdown";
    import JetDropdownLink from "./../Jetstream/DropdownLink";
    import JetNavLink from "./../Jetstream/NavLink";
    import JetResponsiveNavLink from "./../Jetstream/ResponsiveNavLink";

    export default {
        components: {
            AppLayout,
            UserCabinet,
            JetApplicationLogo,
            JetApplicationMark,
            JetDropdown,
            JetDropdownLink,
            JetNavLink,
            JetResponsiveNavLink
        },
        data() {
    return {
      showingNavigationDropdown: true,
    };
  },
        computed: {
    path() {
      return window.location.pathname;
    },
  },
    }
</script>

<style scoped>
.title {
        font-size:60px;
    text-align: center;
}
</style>
