<template>
  <app-layout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        Dashboard
      </h2>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow-xl sm:rounded-lg">
          <UserDashboard :users="users"  />
        </div>
      </div>
    </div>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 mt-8">
      <UserPaginationButton />
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "./../Layouts/AppLayout";
import UserDashboard from "./../Jetstream/UserDashboard";
import UserPaginationButton from "./../Jetstream/UserPaginationButton";
import axios from "../../../node_modules/axios";

export default {
  components: {
    AppLayout,
    UserDashboard,
    UserPaginationButton,
  },

  data() {
    return {
      users: [],

    };
  },
  methods: {
    loadUsers() {
      axios.get("/api/users").then((response) => (this.users = response.data));
    },
  },
  mounted() {
    this.loadUsers();
  },
};
</script>
