<template>
<app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight ">
                devGame Rules
            </h2>
        </template>

            <div class="py-12">
                <UserRule/>
                </div>

    </app-layout>
</template>
<script>
    import AppLayout from './../Layouts/AppLayout'
    import UserRule from '../Jetstream/UserRule'

    export default {
        components: {
            AppLayout,
            UserRule
        }
    }
</script>
