<template>
  <div>
    <app-layout>
      <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
          <h2>Votes.</h2>
        </h2>
      </template>
      <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
          <div class="max-w-7xl mx-auto sm:px-6 lg:px-1">
            <UserSearch />
          </div>
          <VoteTable :users="users" ref="voting"/>

        </div>

      </div>
        <!-- <div class="flex flex-col xs:flex-row items-center xs:justify-between mt-8"> -->
        <button
      class="bg-blue-500 hover:bg-blue-700
      text-white font-bold py-2 px-4 border border-blue-700
      rounded" @click="submit">Vote
      </button>
  <!-- </div> -->
    </app-layout>
  </div>
</template>
<script>
import AppLayout from "./../Layouts/AppLayout";
import VoteTable from "../Jetstream/VoteTable";
import VoteButton from "../Jetstream/VoteButton";
import UserSearch from "../Jetstream/UserSearch";
import axios from "../../../node_modules/axios";

export default {
  components: {
    AppLayout,
    VoteTable,
    VoteButton,
    UserSearch,
  },
  data() {
    return {
      users: [],
    };
  },
  methods: {
      submit() {
          this.$refs.voting.$emit('submit');
        },
    }
}
</script>
