@import 'theme-colors';

/*
* === BODY, APP BACKGROUND ETC. ===
*/
html,
body {
    height: 100%;
}

.container {
    max-width: 1040px;
}

.app-background {
    background-color: var(--app-background-color);
}

.dynamic-title {
    color: var(--dynamic-title-color);
}

.dynamic-subtitle {
    color: var(--dynamic-subtitle-color);
    padding-top: 10px;
}

/*
* === THEME SWITCH ===
*/
input.theme-switch {
    display: none;
}

input.theme-switch+label {
    cursor: pointer;
}

input.theme-switch:not(:checked)+label:hover {
    cursor: pointer;
}

input.theme-switch+label:active,
input.theme-switch:checked+label {
    cursor: pointer;
}
