<template>

    <div class="flex flex-col xs:flex-row items-center xs:justify-between mt-3">
        <button
        class="bg-blue-500 hover:bg-blue-700 text-white
        font-bold py-2 px-4 border border-blue-700 rounded">Button</button>
            </div>

</template>