<template>
<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
<div class="p-6 sm:px-10 bg-white border-b border-gray-200">

    <div class="mt-4 text-2xl border-gray-200">
        Please, read DevGame Rules:
    </div>

    <div class="mt-7 text-gray-500">
        Ежемесячно суммируем оттреченное время каждым девом с баллами, которыми другие девы оценят по трем критериям (курирование, стиль кода и ответственность).
        Каждый месяц в итоговую таблицу попадает 21 дев с наибольшим числом часов за этот месяц, среди них по сумме оттреченных часов и оценок других девов
        определяем тройку призеров этого месяца (тура).
    </div>
        <div class="bg-gray-200 bg-opacity-25 grid grid-cols-1 md:grid-cols-2">
            <div class="p-6 border-t border-gray-200 md:border-t-0 md:border-0">
        <div class="flex items-center">
            <div class="ml-4 text-lg text-gray-600 leading-7 font-semibold">Правила оценки</div>
        </div>

        <div class="ml-12">
            <div class="mt-2 text-sm text-gray-500 border-gray-200 ">
            Каждый месяц можно/нужно единожды оценить девов команды, если не выбрать ни одного дева,
            то в этом месяце нельзя перейти к выбору заполнения собственных ачивок.
            Если есть необходимость проголосовать "против всех", то выбирай @aid78 этот дев никогда не попадет в итоговый список ибо не имеет оттреченных часов
            </div>
        </div>
    </div>
                <div class="p-6 border-t border-gray-200 md:border-t-0 md:border-l ">
        <div class="flex items-center">
            <div class="ml-4 text-lg text-gray-600 leading-7 font-semibold">Про достижения</div>
        </div>

        <div class="ml-12">
            <div class="mt-2 text-sm text-gray-500">
            Каждая выполненная ачивка увеличивает коэффициент, с которым будут учитываться голоса,
            одданые за тебя, на 0.02, максимальный коэффициент составляет 2 при выполнении условий 50 ачивок.
            </div>
        </div>
    </div>
        </div>

 <div class="bg-gray-200 bg-opacity-25 grid grid-cols-1 md:grid-cols-2 ">
    <div class="p-6 border-t border-gray-200 md:border-1">
        <div class="flex items-center">
            <div class="ml-4 text-lg text-gray-600 leading-7 font-semibold">Бонус</div>
        </div>

        <div class="ml-12 ">
            <div class="mt-2 text-sm text-gray-500  ">
        Для желающих получить ачивку "получить сертификат" предлагается частичная компенсация стоимости,
        а именно половина стоимости за неудачную попытку и полное покрытие за удачную попытку
        (при условии наличия аккаунта на апворке на это имя и согласии прикрепить сертификат к этому профилю).</div>
        </div>
    </div>
        <div class="p-6 border-t border-gray-200 md:border-1 md:border-l">
        <div class="flex items-center">
            <div class="ml-4 text-lg text-gray-600 leading-7 font-semibold">Список сертификатов</div>
        </div>
        <div class="ml-12">
            <div class="mt-2 text-sm text-gray-500">
        1. авс любой сертификат, но не уровень Cloud Practitioner<br/>
        2. CKA / CKAD / LFCE<br/>
        3. Laravel , symfony, zend PHP не ниже 7.2<br/>
        4. Oracle certified professional (MySQL) (не specialist)</br>
        5. Scrum developer + professional (только при условии сдачи pro , для него необходимо сначала сдать developer)
        </div>
        </div>
    </div>
        </div>
    </div>
    </div>

</template>

<script>
import JetApplicationLogo from "./../Jetstream/ApplicationLogo";

export default {
  components: {
    JetApplicationLogo,
  },
};
</script>
