<template>

  <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
      <meta name="csrf-token" content="{{ csrf_token() }}"
    <div class="-mx-4.sm:-mx-8.px-4.sm:px-8.py-8.overflow-x-auto">
      <table class="min-w-full leading-normal">
        <thead>
          <tr>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Username
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Mentoring
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Responsibility
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Codestyle
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(user, index) in users" :key="index">
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm form-control">
              <div class="flex items-center">
                <div class="flex-shrink-0 w-10 h-10">
                  <img
                    class="w-full h-full rounded-full"
                    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2.2&amp;w=160&amp;h=160&amp;q=80"
                    alt
                  />
                </div>
                <div class="ml-3">
                  <p class="text-gray-900 whitespace-no-wrap">
                    {{ user.name }}
                  </p>
                </div>
              </div>
            </td>
            <td  class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <input
                class="mr-2 leading-tight"
                type="checkbox"
                name="mentoring"
                value="mentoring"
                v-model="voteForm[user.id].mentoring"
              />
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <input
                class="mr-2 leading-tight"
                type="checkbox"
                value="responsibility"
                name="responsibility"
                v-model="voteForm[user.id].responsibility"
              />
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <input
                class="mr-2 leading-tight"
                type="checkbox"
                value="codestyle"
                name="codestyle"
                v-model="voteForm[user.id].codestyle"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</template>


<script>
import JetApplicationLogo from "./../Jetstream/ApplicationLogo";
import axios from "../../../node_modules/axios";
import VoteButton from "../Jetstream/VoteButton";

export default {
  components: {
    JetApplicationLogo,
    VoteButton,
  },
  data() {
    return {
      voteForm: [],
    };
  },
  props: {
    users: Array,
  },
  methods: {

    loadUser() {
      axios.get('/api/users').then((response) => {
        const users = response.data;
        this.users = users;

        for (const index in users) {
          this.voteForm[users[index].id] = {
            mentoring: false,
            responsibility: false,
            codestyle: false,
            recipient_id: users[index].id,

          };
        }
      });
    },
    submit() {
        var results = this.voteForm.filter(function(e) {
            return e.mentoring || e.responsibility || e.codestyle

        });
      axios.post('/votes', results)
        .then((response) => {})
        .catch((e) => {
        this.errors.push(e);
        });
    },
  },
  mounted() {
    this.loadUser();

    this.$on("submit", () => {
      this.submit();
    });
  },
};
</script>
